[submodule "config/rewriter/rewriter-sandbox-application"]
	path = config/rewriter/rewriter-sandbox-application
	url = https://github.com/asjongers/rewriter-sandbox-application.git
[submodule "mu-cl-resources"]
	path = mu-cl-resources
	url = https://github.com/mu-semtech/mu-cl-resources.git
[submodule "mu-query-rewriter-sandbox"]
	path = mu-query-rewriter-sandbox
	url = https://github.com/nathanielrb/mu-query-rewriter-sandbox
[submodule "mu-elastic-search"]
	path = mu-elastic-search
	url = git@github.com:nathanielrb/mu-elastic-search.git
[submodule "mu-query-rewriter"]
	path = mu-query-rewriter
	url = git@github.com:nathanielrb/mu-query-rewriter.git
